@charset "utf-8";
/* CSS Document */

body{
	background:url(../images/daunjatuh.jpg) repeat;
}

#clear{
	clear:both;	
}

#info{
	color:#FFFFFF;
	width:1000px;
	padding:10px;
}

#wrapper{
	width:1024px;
	min-height:800px;
	height:auto;
	margin-left:auto;
	margin-right:auto;	
	font-family:"Calibri";
	border:solid 1px;
	background:#FFFFFF;
}

#header{
	width:1024px;
	height:226px;
	background:url(../images/Duplicate-State_09.gif);
}


#bgmenu{
	background:#ff6d01;	
	height:50px;
}

#menu{
	color:#FFF;
	background:#529d08;
	font-size:15px;
	padding:3px;
	width:82px;
	float:left;
	margin-left:5px;
	text-align:center;
	color:#FFFFFF;
}

#menu a{
	 color:#FFFFFF;
	 text-decoration:none;
}


#isi{
	width:1024px;
	height:auto;
}

#left{
	border:solid 1px;
	float:left;
	height:auto;
	margin:10px;
	padding:3px;
	width:1000px;
}

#right{
	border:solid 1px;
	float:right;
	margin:10px;
	padding:3px;
	width:335px;
	height:auto
}

